:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

body {
    background-color: #212121;
    color: #fff;
}

code {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 14px;
    background-color: #404040;
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:visited {
    color: #00b0ff;
}

li {
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-top: 30px;
    width: 90vw;
    z-index: 100;
}

button {
    background-color: hsl(199, 93%, 27%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}